
{% extends 'file.html' %}        
{% block ajouter %}
        <nav >
                <ul class ="container-head">
                        <li>Envoie Argent vers le Gabon</li>
                        <li>Service dessert</li>
                        <li>Contact</li>
                </ul>
        </nav>
        <br>
                <header>
                    
                    <div id="imagePrincipale">
                        <h1>Clos Marsault</h1>
                        <div id="premierTrait"></div>
                        <h3>Chambre d'hôtes</h3>
                    </div>
                </header>
                <section id="presentation">
                    <div id="texteIntro">
                        <h2>Un lieu unique, pour un sejour unique</h2>
                        <p>Lorem, ipsum sit amet consecteur adipicing
                            elit. Fugit facilis evemiet pariatur, ipsum fugiat
                            sit debitis officiis excepturi illo ipsa quo saepe
                            optio neque. Eos tempora distinctio, quidem
                            rem eveniet, saepe dolorum aliquid, sed necessitatibus
                            recusandae ipsam, Ea, sapiente sed !
                        </p>
                    </div>
                    <div id ="presentations">
                        <div class="imagesPresentations">
                            <h4>Nous trouver</h4>
                            <!--<a href="#"><img src="./images/carte.JPG" alt="carte"></a>-->
                                
                        </div>
                        <div class="imagesPresentations">
                            <h4>Côté chambre</h4>
                            <!--<a href="#"><img src="./images/chambre.JPG" alt="chambre"></a>-->
                                
                        </div>
                        <div class="imagesPresentations">
                            <h4>Côté Cuisine</h4>
                            <!--<a href="#"><img src="./images/repas.JPG" alt="repas"></a>-->
                                
                        </div>
                    </div>
                </section>
                <section id="tourisme">
                    <h2>Et tant a decouverrir</h2>
                    <ul>
                        <li id="ocean"><p>L'océan Atlantique</p></li>
                        <li id="chateau"><p>Les chateaux du Medoc</p></li>
                        <li id="phare"><p>L'estuaire de la Gironde</p></li>
                        <li id="vignoble"><p>Le vignoble Bordelais</p></li>
                    </ul>
                </section>
        <h1>Welcom to Nancy food</h1>
{% endblock %}


       
